<header class="banner">
    <h1>You wake up in a tavern, what do you do?</h1>
</header>
<form action="/post" method="POST">
    {{#each errors}}
    <p class="error text-center">{{this}}</p>
    {{/each}}
    <input type="text" name="title" placeholder="Title">
    <input type="text" name="text" placeholder="Hot take! Roll with advantage!">
    <button>Post</button>
</form>

<div class="container">
    {{#each posts}}
    <section class="postcard">
        <div class="posthead">
            <h2>{{title}}</h2>
            <h3>Posted By: {{author.user_name}}</h3>
            <p>{{date}}</p>
        </div>
        <div class="postbody">
            <p>{{text}}</p>
        </div>
        <form action="/post/{{this.id}}?_method=DELETE" method="POST">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="delete-post-btn">Delete Post</button>
        </form>
    </section>
    {{/each}}
</div>