<header class="fantasy-header">
    <h2>Behold! A treasure of hot takes worthy of a mighty gold dragon!</h2>
    <h3>What secrets will you share?</h3>
</header>

{{#each posts}}
<div class="container">
    <section class="postcard">
        <div class="posthead">
            <h2>{{title}}</h2>
            <h3>Posted By: {{author.user_name}}</h3>
            <p>{{date}}</p>
        </div>
        <div class="postbody">
            <p>{{text}}</p>
        </div>
        <form action="/post/{{this.id}}/comment" method="POST">
            <input type="text" name="text" placeholder="contested roll">
            <button>Add Comment</button>
        </form>
        <button class="toggle-comments-btn">Show Comments</button>
        <div class="comments-container" style="display: none;">
            <h4>Comments:</h4>
            <ul>
                {{#each post_comments}}
                <li>{{this.text}}</li>
                <li>User: {{author.user_name}}</li>
                {{/each}}
            </ul>
        </div>
    </section>
</div>
{{/each}}


